*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
}
.background {
  background-image: url("img/woman3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  padding-bottom: 30px;
}
.headline {
  position: relative;
}
.head {
  height: 450px;
  width: 100%;
}
.description {
  margin-left: 30px;
  padding-left: 30px;
  margin-right: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  border-radius: 20px 20px 20px 20px;
  width: auto;
  height: auto;
  padding-top: 25px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 17px 17px 2px rgba(0, 0, 0, 0.16);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 17px 17px 2px rgba(0, 0, 0, 0.16);
  background-color: white;
  opacity: 0.8;
}
.navi {
  text-decoration: none;
  color: goldenrod;
}
#address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer {
  padding-top: 20px;
  background-color: black;
  height: 180px;
  color: white;
  font-size: 15px;
}
.rights {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 20px;
  font-size: 10px;
}

.link {
  color: white;
  text-decoration: none;
}

.liste {
  color: goldenrod;
  background-color: black;
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  padding-left: 50px;
  padding-bottom: 20px;
  position: relative;
}

li {
  text-decoration: none;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 10px;
}

h4,
h5 {
  background-color: white;
  color: black;
  border-radius: 10px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 17px 17px 2px rgba(0, 0, 0, 0.16);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 17px 17px 2px rgba(0, 0, 0, 0.16);
}

.article {
  margin-left: 30px;
}
.team {
  margin-top: 30px;
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;
  width: 110px;
  padding-left: 2px;
}
.open-closed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  margin-top: 10px;
  height: auto;
  width: 200px;
  padding-left: 10px;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 17px 17px 2px rgba(0, 0, 0, 0.16);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 17px 17px 2px rgba(0, 0, 0, 0.16);
  background-color: white;
  opacity: 0.8;
}
.wraper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 40px;
  width: auto;
}
.turned {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
  width: auto;
  background-color: white;
  opacity: 0.9;
  border-radius: 50px 100px 10px 50px;
}
.unturned {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  width: auto;
  background-color: white;
  opacity: 0.9;
  border-radius: 0px 50px 50px 100px;
}
.small {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 17px 17px 2px rgba(0, 0, 0, 0.16);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 17px 17px 2px rgba(0, 0, 0, 0.16);
}
.small-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  width: auto;
}
.out {
  height: 340px;
  width: 270px;
  border-radius: 0px 100px 0px 100px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 17px 17px 2px rgba(0, 0, 0, 0.16);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 17px 17px 2px rgba(0, 0, 0, 0.16);
}
.chair {
  height: 340px;
  width: 270px;
  border-radius: 0px 100px 10px 100px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 17px 17px 2px rgba(0, 0, 0, 0.16);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 17px 17px 2px rgba(0, 0, 0, 0.16);
}

.woman {
  height: 340px;
  width: 270px;
  border-radius: 0px 100px 0px 100px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 17px 17px 2px rgba(0, 0, 0, 0.16);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 17px 17px 2px rgba(0, 0, 0, 0.16);
}
.womanTwo {
  height: 340px;
  width: 270px;
  border-radius: 0px 100px 10px 100px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 17px 17px 2px rgba(0, 0, 0, 0.16);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 17px 17px 2px rgba(0, 0, 0, 0.16);
}

.nav {
  text-decoration: none;
  color: white;
}

.nav:hover {
  color: goldenrod;
}

.right,
.right-two {
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 100px;
  padding-left: 7px;
  opacity: 0.8;
}
.right {
  width: 70px;
  padding-right: 2px;
}

.right-irene,
.right-two-irene {
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 60px;
  padding-left: 10px;
  opacity: 0.8;
}
.right-two-irene {
  padding-left: 7px;
}
.left,
.left-two {
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 60px;
  padding-left: 7px;
  opacity: 0.8;
}
.left {
  width: 110px;
}
.left-laura,
.left-two-laura {
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 60px;
  padding-left: 7px;
  opacity: 0.8;
}
.left-two-laura {
  width: 320px;
}
.laura {
  margin-top: 80px;
  width: auto;
}
.emrah {
  width: auto;
  margin-top: 100px;
}

.irene,
.sandra {
  margin-top: 100px;
}

.dropdown-container {
  border: none;
  margin-top: -73px;
}

.dropdown-toggle {
  width: 40px;
  color: black;
  margin-left: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.dropdown-toggle:hover,
.dropdown-toggle:active,
.dropdown-toggle:focus {
  background-color: goldenrod;
  color: #ffffff;
}
#cosmo,
#makeup,
#eyes,
#frau,
#man,
#kind {
  cursor: pointer;
}

#cosmo:hover,
#cosmo:active,
#cosmo:focus,
#makeup:hover,
#makeup:active,
#makeup:focus,
#eyes:hover,
#eyes:active,
#eyes:focus,
#frau:hover,
#frau:active,
#frau:focus,
#man:hover,
#man:active,
#man:focus,
#kind:hover,
#kind:active,
#kind:focus {
  color: goldenrod;
}

.dropdown-menu,
.dropdown-toggle {
  position: relative;
}

.dropdown-toggle::before {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  border: 5px solid;
  border-top-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  margin-top: -2.5px;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out 0.2s;
}

.dropdown-menu {
  z-index: 10;
  position: absolute;

  width: 300px;
  height: 460px;
  border-radius: 0px 30px 30px 0px;
  color: white;
  -webkit-box-shadow: 17px 7px 15px -6px #daa520;
  box-shadow: 10px 10px 15px 3px #daa520;
  display: none;
  background-color: black;
  z-index: 10;
}
.dropdown-menu::before {
  z-index: 1;
  transform: rotate(-135deg);
  top: -4px;
  border-color: #ffffff;
  box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.4);
}

.dropdown-open {
  display: block;
}
.dropdown-menu.dropdown-active {
  display: block;
}

.icon {
  display: flex;
  align-items: center;
}

.insta-title {
  margin-left: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 17px 17px 2px rgba(0, 0, 0, 0.16);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 17px 17px 2px rgba(0, 0, 0, 0.16);
  width: 120px;
  border-radius: 10px 10px 10px 10px;
  color: black;
  background-color: white;
  opacity: 0.8;
}

#instafeed-container {
  display: grid;
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 120px 120px 80px;
  column-gap: 10px;
  row-gap: 15px;
}

#instafeed-container a {
  display: block;
}

#instafeed-container img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 17px 17px 2px rgba(0, 0, 0, 0.16);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 17px 17px 2px rgba(0, 0, 0, 0.16);
}
@media (max-width: 768px) {
  .background {
    background-attachment: scroll;
    background-size: auto 100%;
  }
}
@media (max-width: 600px) {
  .article {
    margin-left: 0;
  }
  .rights {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-top: 30px;
  }
  .description {
    height: auto;
    width: auto;
  }
  .head {
    height: 200px;
    width: 100%;
  }

  #instafeed-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    max-width: auto;
    margin-left: 15px;
  }
  .laura,
  .emrah,
  .sandra,
  .irene {
    margin-top: 20px;
    width: 300px;
  }

  .out,
  .woman {
    height: 420px;
    width: 320px;
  }

  .womanTwo {
    height: 420px;
    width: 320px;
    border-radius: 0px 100px 0px 100px;
  }

  .chair {
    height: 420px;
    width: 320px;
    border-radius: 0px 100px 0px 100px;
  }

  .small {
    border-radius: 100%;
    height: 100px;
    width: 100px;
  }

  .team {
    display: flex;
    align-self: center;
    margin-right: 40px;
    margin-bottom: 20px;
  }

  h4,
  h5 {
    margin-left: 20px;
  }
  .right {
    margin-right: 290px;
  }
  .right-two {
    margin-right: 260px;
  }
  .right-irene {
    margin-right: 305px;
  }

  .right-two-irene {
    margin-right: 300px;
  }

  .footer {
    height: 200px;
  }

  .small-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    max-width: auto;
  }

  .unturned,
  .turned {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: 320px;
    margin-left: 20px;
    border-radius: 0px 100px 65px 65px;
    padding-bottom: 10px;
  }

  .wraper {
    margin-right: 0;
  }

  .dropdown-menu {
    cursor: pointer;
    font-size: 15px;
    max-height: 460px;
    max-width: 260px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px 0px 40px 0px;
    box-shadow: none;
  }

  .liste {
    font-size: 15px;
    max-width: 400px;
    padding-right: 30px;
    margin: 0;
  }
}
@media (min-width: 601px) {
  #instafeed-container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-gap: 5px;
    max-width: auto;
    margin-left: 120px;
  }
  .laura {
    margin-top: 30px;
  }
  .sandra,
  .emrah,
  .irene {
    margin-top: 60px;
  }
}

.small {
  transition: transform 0.3s;
  cursor: pointer;
}

.small:hover,
.small.touch {
  transform: scale(1.2);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

#largeImage {
  max-width: 90%;
  max-height: 90%;
}
